/*To Do List Items*/

.todo-item {
    padding: 17px;
    border: 4px solid rgb(88, 11, 11);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4) inset;
    margin: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-todolist {
    width: 18px;
    margin: 1px 10px 1px 12px;
    cursor: pointer;
}